<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add</h1>

    <br>
    <form action="" method="post">
        <label for="name_">Name</label>
        <input type="text" name="name" id="name_">
        <br>
        <br>

        <label for="github_">Github</label>
        <input type="text" name="github" id="github_">
        <br>
        <br>

        <label for="intro_">Introduce</label>
        <br>
        <textarea name="introduce" id="intro_" cols="30" rows="10"></textarea>
        <br>
        <br>

        <button type="submit">submit</button>
    </form>
    
</body>
</html>