<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detail</h1>
    <a href="{% url 'main' %}">Home</a>
    <a href="{% url 'aiclass' %}">Class</a>
    <br>
    <br>
    
    {% for student in students %}
        <p>
            {{student.name}}
            {{student.introduce}}
            
            <a href="{% url 'student' student.id %}">자세히 보기</a>
        </p>
        
    {% endfor %}

    <a href="{% url 'add' id %}">학생 추가하기</a>
    
</body>
</html>